[[extend "layout.html"]]

[[block page_styles]]
<style>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  .form-group {
    margin-bottom: 1rem;
    width: 100%;
  }

  .form-container form {
    max-width: 400px;
    width: 100%;
  }

  .start-training-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  #app {
      display:flex;
      align-items: flex-start;
      justify-content: center;
      height: 100vh;
  }
  
  .banner {
    background-color: #00D1B2;
    padding: 1rem;
    text-align: center;
    width: 200%;
    margin-bottom: 2rem;
  }

  .banner-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .tooltip-text {
    color: #aaa;
    cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    z-index: 2;
  }

  .tooltip .tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 125%;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s, visibility 0.3s;
    background-color: #f9f9f9;
    color: #333;
    padding: 0.5rem;
    border-radius: 4px;
    width: 500px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  }

  .tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-content p {
    padding: 0.5rem 0;
    margin: 0;
  }

  .tooltip-content .image {
    margin-top: 1rem;
  }

  .tooltip-content .image img {
    max-width: 100%;
    height: auto;
  }
  
</style>
[[end]]

<div id="app">
  <div class="container">
    <div class="form-container">
      <div class="banner is-primary">
        <h1 class="banner-text">Create Stream</h1>
      </div>
      <form @submit.prevent="submitStream">
        <div class="field">
          <label class="label" for="streamName">Stream Name</label>
          <div class="control">
            <input type="text" id="streamName" v-model="streamName" class="input" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="fileUpload">Upload Training Data</label>
          <div class="control">
            <input type="file" accept="application/zip" id="fileUpload" @change="handleFileUpload" class="input" required>
          </div>
          <div class="tooltip">
            <div class="tooltip-trigger">
              <span class="icon"><i class="fas fa-question-circle has-text-grey-light"></i></span><span class="tooltip-text">How to format training data</span>
              <div class="tooltip-content">
                <p>
                  The neural network trains on a set of images it is told are of the stream's subject and examples of objects that are not. Your training data should have a "yes" folder that contains images of the desired object and a "no" folder that contains images that are not related to the subject. To increase the neural network's accuracy, your "no" objects should be of a similar nature to your subject but have an apparent contrast. For example, if you want your stream to identify cats then images of dogs would be ideal for the "no" category since they are both animals but have distinct differences.
                </p>
                <figure class="image">
                  <img src="training.png">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control start-training-button">
            <button type="submit" class="button is-primary is-rounded" :disabled="trainingStatus !== 'Start Training'">{{trainingStatus}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

[[block page_scripts]]
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="js/create_stream.js"></script>
[[end]]