[[extend 'layout.html']]

<style>
  .floating-toolbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
  }
</style>

<div class="section" id="app">
  <div class="title is-2 has-text-centered">#[[=stream]]</div>
    <div class="container">
      <div class="tile is-ancestor is-center is-vertical" style="align-items: center">
        <h1>hello this is the body</h1>
      </div> 
  </div> 
</div>

<script>

</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="[[=URL('static', 'js', 's.js')]]"></script>
