[[extend 'layout.html']]

<style>
  .floating-toolbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    z-index: 99;
  }
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title is-2 has-text-centered">#[[=stream.name]]</h1>
  <div class="container">
    <div class="tile is-ancestor is-center is-vertical" style="align-items: center">
        <div class="tile is-parent is-8">
              <div class="tile is-child card m-4 p-4">
                  <div class="card-image" v-if="imagePreview">
                      <img :src="imagePreview" v-if="imagePreview">
                  </div>
                  <form @submit.prevent="upload_file">
                      <div class="field">
                          <div class="control">
                              <div class="file has-name is-fullwidth is-info">
                                  <label class="file-label">
                                      <input class="file-input input" type="file" accept="image/*" required @change="updateImgPreview">
                                      <span class="file-cta">
                                          <span class="file-icon">
                                              <i class="fa fa-fw fa-upload"></i>
                                          </span>
                                          <span class="file-label">
                                              <span>Select Your Image!</span>
                                          </span>
                                      </span>
                                      <span class="file-name">
                                          {{selectedFile ? selectedFile.name : "No file selected"}}
                                      </span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <label> Caption
                              <input class="input" v-model="caption" type="text" placeholder="Caption your post!">
                          </label>
                      </div>
                      <input v-if="submitButtonStatus === 'Post'" class="button is-primary" type="submit" value="Post">
                      <input v-else-if="submitButtonStatus === 'Request Approval'" class="button is-warning" type="submit" value="Post for Approval">
                      <input v-else disabled class="button" type="submit" value="Validating...">
                  </form>
              </div>
        </div>
      <div class="tile is-parent is-8" v-for="post in posts">
        <div class="tile is-child card m-4 p-4">
          <div class="card-image">
            <img :src="post.post.image_ref">
          </div>
          <div class="card-content">
            <p class="title is-5 has-text-info has-text-centered" v-if="post.post.draft">This post is a draft</p>
            <label>
              <input type="checkbox" v-model="post.selected" @click="onDwlCheckboxClick(post, $event)">
              Include this image in download package
            </label>
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  {{post.auth_user.first_name}} {{post.auth_user.last_name}}
                </p>
                <p class="subtitle is-6">{{post.auth_user.username}}</p>
              </div>
            </div>
              <p class="content">{{post.post.caption}}</p>
            [[if approve_permissions:]]
            <a class="button is-warning" v-if="post.post.draft" @click="approveDraft(post)">Approve This Draft</a>
            [[pass]]
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box has-background-white floating-toolbar p-4" v-if="posts.some(post => post.selected)">
    <form action="[[=URL('zip_posts')]]" method="post">
      <input type="hidden" name="posts" :value="JSON.stringify(posts.filter(p => p.selected).map(p => p.post.file_path))">
      <div class="buttons">
        <input type="submit" class="button is-primary" value="Download Selected Images">
      </div>
    </form>
  </div>
</div>

<script>
  let file_info_url = "[[=XML(file_info_url)]]";
  let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";
  let notify_url = "[[=XML(notify_url)]]";
  const get_posts_url = "[[=URL('stream', stream['id'], 'posts')]]";
  let classify_url = "[[=URL('stream', stream['id'], 'classify')]]";
  const approve_url = "[[=URL('approve')]]";
  const customQuestion = "[[=custom_question if custom_question else '']]";
  const login_url = "[[=URL('auth', 'login')]]";
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="[[=URL('static', 'js', 's.js')]]"></script>
[[end]]